* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
}

.crl {
    clear: left;
}

html {
    scroll-behavior: smooth;
}
/* Start Home */
.home {
    background-image: url("../images/wallpaperflare.com_wallpaper\ \(13\).jpg");
    background-size: 100% 100%;
    height: 100vh;
}

.home .caption {
    text-align: center;
    color: white;
}

.home .caption p {
    padding: 20px 0;
}

.home .caption .image img {
    width: 150px;
    padding-top: 100px;
    
}

.home .caption .btn1, .btn2 {
    padding: 10px 16px;
    border: none;
}

.home .caption .btn1 {
    background-color: burlywood;
}

.home .caption .btn2 {
    background-color:aliceblue;
}

.navbar {
    padding: 20px auto;
    background-color: transparent;
}

.navbar .image img {
    width: 50px;
    float: left;
}

.navbar .list ul {
    float: right;
    list-style: none;
    padding: 20px;
}

.navbar .list ul a {
    color: white;
    text-decoration: none;
}

.navbar .list ul li {
    display: inline;
    padding: 20px;
}

.navbar .clear {
    clear: both;
}
/* End Home */

/* Start About Us */
.about .about-image {
    width: 40%;
    float: left;
}

.about .about-image img {
    width: 100%;
}

.about .about-info {
    width: 60%;
    float: left;
    text-align: center;
    padding-top: 150px;
}

.about .about-info h2 {
    font-size: 50px;
}

.about .about-info h2 span {
    color: burlywood;
}

.about .about-info p {
    padding: 20px;
    line-height: 1.8;
}

.about .about-info button {
    padding: 14px 20px;
    background-color: transparent;
    border: 3px solid burlywood;
}
/* End About Us */

/* Start Lightbox */
.lightbox {
    background-image: url("../images/wallpaperflare.com_wallpaper\ \(12\).jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 500px;
}
/* End Lightbox */

/* Start Meals */
.games {
    padding: 50px 0;
}

.games .game {
    width: 25%;
    text-align: center;
    float: left;
}

.games .game .image img {
    width: 80%;
    margin: 10px auto;
    border-radius: 50%;
}

.game .image h3 {
    margin: 10px auto;
}

.games .game .border {
    height: 3px;
    width: 100px;
    margin: 15px auto;
    background-color: burlywood;
}

.games .game p {
    padding-inline: 25px;
}

.games .clear {
    clear: left;
}
/* End Meals */